body {
   
    background-color:#D3EFBD;
    font-size: 18;
    color:#000000;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
  
    
    
}

 header{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background-color:#8B2635;
    color: white;
    padding-top: 5px; 
    padding-bottom: 5px;
    text-align: center;
    

}    

   
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color:#8B2635;
    color: white;
    padding-top: 5px;
    text-align: center;
}

table {
    width: 100%;
    border: none;
   
    
}

td, th {
    border: 1px solid #000000;    
    padding: 5px;
    text-align: left;
    vertical-align: top;
} 

.myP2{

    min-height: 850px;
    max-width: 700px;
    width: 100%;
    background-color: #E0E2DB;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 17.5px;
    line-height: 24px;
    color: #000000;
    left:0;
    margin-left: auto;
    right:0;
    margin-right: auto;
}
.myP3{

    min-height: 850px;
    max-width: 700px;
    width: 100%;
    background-color: #E0E2DB;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 17.5px;
    line-height: 24px;
    color: #000000;
    left:0;
    margin-left: auto;
    right:0;
    margin-right: auto;
}



.panel {
    height: auto;
    max-width: 400px;
    width: 100%;
    background-color: #E0E2DB;
    border-top-style: solid;
    border-top-color: rgb(144, 173, 122);
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    
}
.btnpanel{
    width: 100%;
    height: 50px;
    top: 0;
    background-color: #D3EFBD;
   

}
.btndefno{
    float: left;
    background-color:#ffffff;
    height: 100%;
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    border: none;


}
.btndef{
    float: left;
    background-color:#D3EFBD;
   
    height: 100%;
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}

.subpanel{
   
    width: 100%;
    height: 100px;
    bottom: 0;
    margin-bottom: auto;
    background-color: #8B2635;

    


}


.btnfb{

    float: top;
    float: right;
    background-color: rgb(57, 94, 136);
    height: 50%;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 20px;
  
   
}

.logofb{

    float: top;
    float: left;
    background-color: rgb(57, 94, 136);
    height: 50%;
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border: none;
  
   
}




.btngoo{
  
    float: bottom;
    float: right;
    background-color: #8B2635;
    height: 50%;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 20px;
  
}



.logogoo{
  
    float: bottom;
    float: left;
    background-color: #8B2635;
    height: 50%;
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border: none;
  
}


.form{
    width: 90%;
    margin: 5%;
}

.inputblock{
    width: 100%;
    height: 25%;
    bottom: 0;
    padding-bottom: 5%;
    background-color: #E0E2DB;
}

.inputfield{
    float: bottom;
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: rgb(144, 173, 122);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;  
    font-weight: normal;  
    color:#000000;
    background-color: #E0E2DB;
    

}

.inputfield:hover{
    float: bottom;
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: rgb(144, 173, 122);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;    
    font-weight: normal;  
    color:#000000;
    background-color: #D3EFBD;
    

}

.inputblockh{
    width: 100%;
    height: 75px;
    bottom: 0;
    padding-bottom: 20px;
    background-color: #E0E2DB;
}

.inputfieldh{
    float: bottom;
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: rgb(144, 173, 122);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;  
    font-weight: normal;  
    color:#000000;
    background-color: #E0E2DB;
    

}

.inputfieldh:hover{
    float: bottom;
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: rgb(144, 173, 122);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;    
    font-weight: normal;  
    color:#000000;
    background-color: #D3EFBD;
    

}

.inputfieldp{
    float: bottom;
    width: 100%;
    height: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-width:2px; 
    border-bottom-color: rgb(144, 173, 122);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;  
    font-weight: normal;  
    color:#000000;
    background-color: #E0E2DB;
    

}

.inputfieldp:hover{
    float: bottom;
    width: 100%;
    height: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: rgb(144, 173, 122);
    border-bottom-width:2px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;    
    font-weight: normal;  
    color:#000000;
    background-color: #D3EFBD;
    

}
.inputfieldc{
    float: bottom;
    width: 100%;
    height: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-width:2px; 
    border-bottom-color: rgb(144, 173, 122);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;  
    font-weight: normal;  
    color:#000000;
    background-color: #E0E2DB;
    

}

.inputfieldc:hover{
    float: bottom;
    width: 100%;
    height: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-width:2px; 
    border-bottom-color: rgb(144, 173, 122);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;    
    font-weight: normal;  
    color:#000000;
    background-color: #D3EFBD;
    

}




.submitblock{
    width: 100%;
    height: 50px;
    bottom: 0;
  
    background-color: #E0E2DB;
}


.forgotbtn{
    float: left;
    background-color:#ffffff;
    height: 100%;
    width: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: #ABBCC4;
    border: none;
}

.submitbtn{
    float: right;
    background-color:rgb(144, 173, 122);
    height: 100%;
    width: 40%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}

.submitbtn:hover{
    float: right;
    background-color:#3064A0;
    height: 100%;
    width: 40%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}

.submitblockpost{
    width: 144px;
    height: 50px;
    bottom: 0;
  
    background-color: #E0E2DB;
}

.submitbtnpost{
    
    background-color:rgb(144, 173, 122);
    height: 100%;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}

.submitbtnpost:hover{
    
    background-color:#3064A0;
    height: 100%;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}



label.cabinet {

    width: 100%;
    height: 50px;
    background: #D3EFBD;
    display: block;
    overflow: hidden;
    cursor: pointer;
  
}

 


label.cabinet input.file {
    position: relative;
    width: 100%;
    height: 50px;
    opacity: 0;
    -moz-opacity: 0; 
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    
}

.inputblockpost{
    width: 144px;
    height: 75px;
    bottom: 0;
    padding-bottom: 20px;
    background-color: #E0E2DB;
   
}  

label.cabinetpost {

    width: 100%;
    height: 50px;
    background: #D3EFBD;   
    display: block;
    overflow: hidden;
    cursor: pointer;
  
}

 
  

label.cabinetpost input.filepost {
    position: relative;
    width: 100%;
    height: 50px;
    opacity: 0;
    -moz-opacity: 0; 
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    
}



h1{
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: darkgreen;
    line-height: 52px;
}




p2{ 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:#000000;
    
}

/* 
.menu {
    top: 40px;
    float: left;
    left: 0;
    position: fixed;
}


.menu a {
    display: inline-block;
    background-color:#D3EFBD;
    width: 100px;
    border-style: solid;
    border-color:#ffffff;
    border-width: 2px;
    color: #8B2635;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}




.menu a:hover {
    background-color:#8B2635;
    color:#D3EFBD;

} */



.dropbtn {
    position: relative;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    background-color: #8B2635;
    color: white;
    padding: 25%;
    font-size: 16px;
    border: none;
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out 0s;
}


.dropdown {
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;    
    background-color: #D2D4C8;   
    width: 400%;
    box-shadow: 0px 8px 20px 3px #00000033;
    z-index: 1;
}

.dropdown-content a {
    color: #8B2635;
    padding: 10% 10%;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #D3EFBD;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(144, 173, 122);
    cursor: default;
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out 0s;
}

.container {
    display: flex; /* or inline-flex */   
    max-width: 1280px;
    background-color:#D3EFBD;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
    flex-wrap: wrap;
    justify-content:space-around;
    
}      

.box {
    position: relative;
    /* border-radius: 10px; */
    overflow: hidden;
    height: 440px;
    width: 270px;
    margin: 15px;
    background-color: #E0E2DB;
    
   
}

.box:nth-child(4n-3) {
    width: 560px;
}

.box-image-container {
    background-color: #E0E2DB;
    height: 440px;
    overflow: hidden;
    background-size: cover;
    background-position: center;

}


/* .box-image {
   
    display:block;
    max-width: 190%;
    max-height: 140%;

} */


.box-title{
    position: absolute;
    min-width: 89%;
    bottom: 0;
    background-image:linear-gradient(#34412b00,#34412bcb, #34412b);
    padding: 15px;
    
   

}

.box-heading{
    height: 100%;
    color: #ffffff;
    display:block;
    font-size:28px;
    font-weight:500;
}


.containerpost {
    display: flex; /* or inline-flex */   
    max-width: 1280px;
    background-color: #D3EFBD;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content:space-around;
    
}      

.boxpost {
    position: relative;
    /* border-radius: 10px; */
    overflow: hidden;
    width: 270px;
    height: 1820px;
    padding: 30px;
    background-color:#D3EFBD;
    
    
   
}

.boxpost:nth-child(odd) {
    width: 880px;
    
    background-color: #E0E2DB;
}

.container2 {
    display: flex; /* or inline-flex */   
    background-color:#D3EFBD;
    flex-wrap: wrap;
    justify-content:space-around;
    
}      

.box-user{
    border-bottom:2px solid  rgb(144, 173, 122);
    margin:5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;    
    font-size: 16px;
    color: #202020;

}

.box-post{
    height: 100px;
    background-color: #E0E2DB;
    overflow: hidden;

}

@media only screen and (max-width: 1280px) {
    .boxpost {
        width: 900px;     
        height: auto;
        
       
    }
    

}

@media only screen and (max-width: 768px) {
  
    .container{
        width: 100%;
        max-width: 650px;
        padding: 2%;
    }
    .myP2{

        width: 100%;
        padding-left: 2%;
        padding-right: 2%;

    }
    .myP3{
    
        width: 100%;

        padding-left: 2%;
        padding-right: 2%;

    }

    .box-user{

        font-size: 15px;

    
    }

    h1{
        font-size: 36px;
        font-weight: 400;
        line-height: 40px;
    }


    

}



@media only screen and (max-width: 375px) {

  
    .container{
        width: 100%;
        max-width: 350px;
        padding: 2%;
    }
        

    .myP2{

        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
    
    }
    .myP3{
    
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;

    }

    .box-user{

        font-size: 14px;

    
    }

    h1{
        font-size: 32px;
        font-weight: 300;
        line-height: 36px;
    }
    

}


