body {

    background-color:#4AA270;
    font-size: 18;
    color:#000000;
    margin-top: 40px;
    margin-bottom: 40px;
    
    
}

 header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    background-color:#C74A48;
    color: white;
    padding-top: 5px; 
    padding-bottom: 5px;
    text-align: center;
    

}    

   
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#C74A48;
    color: white;
    padding-top: 5px;
    text-align: center;
}

table {
    border: none;
   
    
}

td, th {
    border: 1px solid #000000;    
    padding: 5px;
    text-align: left;
    vertical-align: top;
} 

.myP2{

    min-height: 850px;
    width: 800px;
    background-color: #ffffff;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 17.5px;
    line-height: 24px;
    color: #000000;
    left:0;
    margin-left: auto;
    right:0;
    margin-right: auto;
}
.myP3{

    min-height: 850px;
    width: 800px;
    background-color: #ffffff;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 17.5px;
    line-height: 24px;
    color: #000000;
    left:0;
    margin-left: auto;
    right:0;
    margin-right: auto;
}



.panel {
    height: auto;
    width: 400px;
    background-color: #ffffff;
    margin-top: 90px;
    left:0;
    margin-left: auto;
    right:0;
    margin-right: auto;
    
}
.btnpanel{
    width: 400px;
    height: 50px;
    top: 0;
    background-color: #e1e1e1;

}
.btndefno{
    float: left;
    background-color:#ffffff;
    height: 100%;
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    border: none;


}
.btndef{
    float: left;
    background-color:#e1e1e1;
    height: 100%;
    width: 50%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}

.subpanel{
   
    width: 100%;
    height: 100px;
    bottom: 0;
    margin-bottom: auto;
    background-color: #C74A48;

    


}


.btnfb{

    float: top;
    float: right;
    background-color: #3064A0;
    height: 50%;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 20px;
  
   
}

.logofb{

    float: top;
    float: left;
    background-color: #3064A0;
    height: 50%;
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border: none;
  
   
}




.btngoo{
  
    float: bottom;
    float: right;
    background-color: #C74A48;
    height: 50%;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    border: none;
    text-align: left;
    padding-left: 20px;
  
}



.logogoo{
  
    float: bottom;
    float: left;
    background-color: #C74A48;
    height: 50%;
    width: 25%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    border: none;
  
}


.form{
    width: 100%;
    margin: 20px;
}

.inputblock{
    width: 360px;
    height: 75px;
    bottom: 0;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.inputfield{
    float: bottom;
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;  
    font-weight: normal;  
    color:#000000;
    background-color: #ffffff;
    

}

.inputfield:hover{
    float: bottom;
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;    
    font-weight: normal;  
    color:#000000;
    background-color: #e1e1e1;
    

}

.inputblockh{
    width: 700px;
    height: 75px;
    bottom: 0;
    padding-bottom: 20px;
    background-color: #ffffff;
}

.inputfieldh{
    float: bottom;
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;  
    font-weight: normal;  
    color:#000000;
    background-color: #ffffff;
    

}

.inputfieldh:hover{
    float: bottom;
    width: 100%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;    
    font-weight: normal;  
    color:#000000;
    background-color: #e1e1e1;
    

}

.inputfieldp{
    float: bottom;
    width: 100%;
    height: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;  
    font-weight: normal;  
    color:#000000;
    background-color: #ffffff;
    

}

.inputfieldp:hover{
    float: bottom;
    width: 100%;
    height: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;    
    font-weight: normal;  
    color:#000000;
    background-color: #e1e1e1;
    

}
.inputfieldc{
    float: bottom;
    width: 100%;
    height: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;  
    font-weight: normal;  
    color:#000000;
    background-color: #ffffff;
    

}

.inputfieldc:hover{
    float: bottom;
    width: 100%;
    height: 150px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    border-bottom-color: #e1e1e1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;    
    font-weight: normal;  
    color:#000000;
    background-color: #e1e1e1;
    

}




.submitblock{
    width: 360px;
    height: 50px;
    bottom: 0;
  
    background-color: #ffffff;
}


.forgotbtn{
    float: left;
    background-color:#ffffff;
    height: 100%;
    width: 60%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: #ABBCC4;
    border: none;
}

.submitbtn{
    float: right;
    background-color:#4AA270;
    height: 100%;
    width: 40%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}

.submitbtn:hover{
    float: right;
    background-color:#3064A0;
    height: 100%;
    width: 40%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}

.submitblockpost{
    width: 144px;
    height: 50px;
    bottom: 0;
  
    background-color: #ffffff;
}

.submitbtnpost{
    
    background-color:#4AA270;
    height: 100%;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}

.submitbtnpost:hover{
    
    background-color:#3064A0;
    height: 100%;
    width: 100%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #ffffff;
    border: none;

}



label.cabinet {

    width: 360px;
    height: 50px;
    background: #e1e1e1;
    display: block;
    overflow: hidden;
    cursor: pointer;
  
}

 


label.cabinet input.file {
    position: relative;
    width: 360px;
    height: 50px;
    opacity: 0;
    -moz-opacity: 0;
 
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    
}

.inputblockpost{
    width: 144px;
    height: 75px;
    bottom: 0;
    padding-bottom: 20px;
    background-color: #ffffff;
}  

label.cabinetpost {

    width: 144px;
    height: 50px;
    background: #e1e1e1;
    display: block;
    overflow: hidden;
    cursor: pointer;
  
}

 
  

label.cabinetpost input.filepost {
    position: relative;
    width: 144px;
    height: 50px;
    opacity: 0;
    -moz-opacity: 0;
 
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    
}



h1{
    size: 28px;
    font-weight: 500;
    color: darkgreen;
    line-height: 36px;
}

p2{ 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:#000000;
    
}


.menu {
    top: 40px;
    float: left;
    left: 0;
    position: fixed;
}


.menu a {
    display: inline-block;
    background-color:#4AA270;
    width: 100px;
    border-style: solid;
    border-color:#ffffff;
    border-width: 2px;
    color: #C74A48;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}




.menu a:hover {
    background-color:#C74A48;
    color:#4AA270;

}



.dropbtn {
    position: fixed;
    height: 40px;
    width: 50px;
    left: 0;
    top: 0;
    background-color: #C74A48;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
}


.dropdown {
    position: fixed;
    left: 0;
    top: 0;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    
    background-color: #3064A0;
   
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #4AA270;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #C74A48;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3064A0;
}

.container {
    display: flex; /* or inline-flex */   
    width: 1200px;
    background-color: #e1e1e1;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content:space-around;
    
}      

.box {
    height: 440px;
    width: 270px;
    margin: 5px;
    background-color: #ffffff;
   
}

.box:nth-child(4n-3) {
    width: 570px;
}

.box-image-container {
    background-color: #ABBCC4;
    height: 290px;

}


.box-image {
    max-width: 100%;
    max-height: 100%;

}


.box-title{
    height: 130px;
    padding: 10px;

}

.box-heading{
    width: auto;
    height: 100%;     
    
}