body {

    background-color:burlywood;
   
}

select {
    width: 173px;
    height: 22px;
}

.menu {
    float: left;
    position: fixed;
}


.menu a {
    display: inline-block;
    background-color: rgb(41, 97, 83);
    width: 100px;
    border-style: solid;
    border-color: rgb(108, 189, 182);
    border-width: 2px;
    color: rgb(212, 171, 192);
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.menu a:hover {
    background-color:rgb(212, 171, 192);
    color: rgb(41, 97, 83);
}

#myP1{
    width: 800px;
    background-color:rgb(162, 197, 230);
    margin: auto;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 14px;
    color: blue;
    border-style: solid;
    border-color: rgb(204, 151, 131);
    border-width: 7px;
 
}
.myP2{
    width: 750px;
    background-color:rgb(137, 230, 186);
    margin: auto;
    margin-top: 100px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
    text-align: left;
    font-size: 14px;
    color: blue;
    border-style: solid;
    border-color:  rgb(204, 151, 131);
    border-width: 7px;
}


button {
    width: 100px;
    height: 40px;
    background-color:royalblue;
    margin:30px;
    border: none;
    color: antiquewhite;
    margin: 20px;
}

.button:hover {
    width: 100px;
    height: 40px;
    background-color:rgb(126, 41, 41);
    margin:30px;
    border: none;
    color: antiquewhite;
    margin: 20px;  
}



